.search-form {
  background-color: #03453b;
  padding: 10px;
	margin-bottom: 10px;
	text-align: center;

	@media screen and (min-width:768px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.form-input {
  padding: 12px 20px;
  min-width: 250px;
	border: 1px solid transparent;
	border-radius: 4px;

	@media screen and (max-width:767.98px) {
		margin-bottom: 10px;
	}

	@media screen and (min-width:768px) {
		margin-right: 10px;
	}
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
	min-width: 160px;

	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	background-color: transparent;
	cursor: pointer;
	border: 1px solid #d1a678 ;
  color: wheat;
	border-radius: 4px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (max-width:767.98px) {
			margin: 0 auto;
	}

	&:hover,
	&:focus {
		background-color: #d1a678;
		color: #03453b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}

	&--light-mode {
		display: block;
		margin: 0 auto;
		border: 1px solid #03453b;
		color:#03453b;

		&:hover,
		&:focus {
			border-color: #d1a678;
		}
	}
}

.form-icon {
  margin-left: 10px;
	fill: currentColor;
}
